<div class="bg-white border-bottom p-3 d-flex align-items-center">
  <app-avatar
    size="50px"
    [src]="topicSelected.avatar"
    [isGroup]="topicSelected.participants.length > 2">
  </app-avatar>
  <h5 class="ms-3 mb-0" [nbTooltip]="getParticipantNames()" nbTooltipPlacement="bottom" >{{ topicSelected.title }}</h5>
  <button
    *ngIf="topicSelected.participants.length > 2"
    class="ms-auto" nbButton ghost shape="round"
    [nbContextMenu]="isMyTopic(topicSelected) ? settings2 : settings1"
    nbContextMenuTag="groupChatSettings">
    <nb-icon style="width: 30px; height: 30px;" icon="settings-2-outline"></nb-icon>
  </button>
</div>
