<nb-layout>
  <nb-layout-column class="d-flex p-0">
    <div class="bg-white p-2">
      <app-chat-profile
        (openCreateDialog)="dialogService.open(createTopicDialog)"
      ></app-chat-profile>
      <app-chat-list
        (topicSelect)="onTopicSelected($event)"
        [topics]="topics"
        [topicSelected]="topicSelected"
      ></app-chat-list>
    </div>
    <div *ngIf="topicSelected" class="d-flex flex-column flex-grow-1 border-start">
      <div class="bg-white border-bottom p-3 d-flex align-items-center">
        <img class="avatar-img" src="{{ topicSelected.avatar }}" alt="no image">
        <h5 class="ms-2 mb-0">{{ topicSelected.title }}</h5>
      </div>
      <app-chat-box
        class="bg-white h-100"
        [messages]="topicSelected.messages"
      ></app-chat-box>
      <app-chat-form
        class="mt-auto"
        (sendMessage)="sentChat($event)"
        [topicId]="topicSelected.id"
      ></app-chat-form>
    </div>
    <div *ngIf="!topicSelected" class="d-flex justify-content-center flex-grow-1 ms-1">
      <button nbButton status="success" class="align-self-center" (click)="dialogService.open(createTopicDialog)">Create new topic</button>
    </div>
  </nb-layout-column>
</nb-layout>

<ng-template #createTopicDialog let-ref="dialogRef">
  <app-chat-topic-create
    (closeDialog)="ref.close()"
    [users]="searchedUsers"
  ></app-chat-topic-create>
</ng-template>
