<nb-layout>
  <nb-layout-column class="d-flex p-0" style="height: 100vh">
    <div class="bg-white p-2 d-flex flex-column" style="max-width: 35vw">
      <app-chat-profile
        (openCreateDialog)="dialogService.open(createTopicDialog)"
      ></app-chat-profile>
      <app-chat-list
        class="overflow-auto"
        (topicSelect)="onTopicSelected($event)"
        [topics]="topics"
        [topicSelected]="topicSelected"
      ></app-chat-list>
    </div>
    <div *ngIf="topicSelected" class="d-flex flex-column flex-grow-1 border-start">
      <app-chat-header
        [topicSelected]="topicSelected"
        (openEditChatTopicDialog)="dialogService.open(editChatTopicDialog)"
      ></app-chat-header>
      <app-chat-box
        class="bg-white h-100 overflow-auto"
        [messages]="topicSelected.messages"
        (loadHistory)="loadHistory()"
      ></app-chat-box>
      <app-chat-form
        class="mt-auto"
        (sendMessage)="sentChat($event)"
        [topicId]="topicSelected.id"
      ></app-chat-form>
    </div>
    <div *ngIf="!topicSelected" class="d-flex justify-content-center flex-grow-1 ms-1">
      <button nbButton status="success" class="align-self-center" (click)="dialogService.open(createTopicDialog)">Create new topic</button>
    </div>
  </nb-layout-column>
</nb-layout>

<ng-template #createTopicDialog let-ref="dialogRef">
  <app-chat-topic-create
    (closeDialog)="ref.close()"
    [users]="searchedUsers"
  ></app-chat-topic-create>
</ng-template>

<ng-template #editChatTopicDialog let-ref="dialogRef">
  <app-chat-topic-update
    (closeDialog)="ref.close()"
    [users]="searchedUsers"
    [topic]="topicSelected"
  ></app-chat-topic-update>
</ng-template>
