@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
  // @include nb-auth-global();
};
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background:  nb-theme(background-basic-color-4);
  cursor: pointer;
  border-radius: 0.4rem;
}

::-webkit-scrollbar-track {
  background: nb-theme(background-basic-color-2);
}
