<div class="profile-container pt-2 px-2 d-flex align-items-center">
  <div class="d-flex justify-content-center align-items-center pb-3 flex-wrap" (click)="dialogService.open(updateAvatarDialog)">
    <app-avatar
      [src]="profile.avatar"
      size="36px"
    ></app-avatar>
    <b class="px-2 text-center">{{profile.fullName | textTruncate: 20}}</b>
  </div>
  <div class="ms-auto d-flex gap-2 flex-wrap pb-3 justify-content-center">
    <button nbButton status="warning" size="small" shape="round" (click)="dialogService.open(updateAvatarDialog)">
      <nb-icon icon="edit-outline"></nb-icon>
    </button>
    <button nbButton status="danger" size="small" shape="round" (click)="logout()">
      <nb-icon icon="log-out-outline"></nb-icon>
    </button>
    <button nbButton status="success" size="small" shape="round" (click)="openCreateDialog.emit()">
      <nb-icon icon="plus-outline"></nb-icon>
    </button>
  </div>
</div>

<ng-template #updateAvatarDialog let-ref="dialogRef">
  <nb-card accent="success">
    <nb-card-header>Profile</nb-card-header>
    <nb-card-body>
      <app-image-picker
        [initSrc]="profile.avatar"
        (imageChange)="updateAvatar($event)"
        width="200px"
        height="200px"
      ></app-image-picker>
    </nb-card-body>
  </nb-card>
</ng-template>
