@import "src/themes";

.active-chat {
  background-color: nb-theme(color-primary-200);
}

:host nb-list-item {
    border-bottom: none;
    border-top: none;
}

@media (max-width: 425px) {
  .item-wrapper {
    justify-content: center!important;
  }

  .can-be-collapsed {
    display: none!important;
  }

  .can-be-collapsed-reverse {
    display: block!important;
  }
}

.font-weight-bold {
  font-weight: bold;
}
