<nb-list>
  <nb-list-item
    [class.active-chat]="topic == topicSelected"
    *ngFor="let topic of topics"
    (click)="onTopicSelected(topic)"
    [style.border-radius]="'0.5rem'">
    <div class="d-flex align-items-center w-100">
      <app-avatar
        [src]="topic.avatar"
        [isGroup]="topic.participants.length > 2"
        size="50px"></app-avatar>
      <div class="can-be-collapsed d-flex flex-column ps-2 pe-3 flex-grow-1">
        <b>{{ topic.title }}</b>
        <small>
          <b class="text-secondary">
            {{ topic.updatedBy.fullName + ': ' }}
            {{ topic.lastMessage || 'has created topic' | textTruncate: [10, '...'] }}
          </b>
        </small>
      </div>
      <div class="can-be-collapsed d-flex flex-column align-items-end">
        <small class="text-secondary">{{ topic.updatedAt | localDatetime | agoDatetime }}</small>
        <nb-badge class="position-relative mt-1" dotMode status="success"></nb-badge>
      </div>
    </div>
  </nb-list-item>
</nb-list>
