<nb-list>
  <nb-list-item
    [nbTooltip]="topic.lastMessage"
    nbTooltipPlacement="right"
    class="px-2"
    [class.active-chat]="topic == topicSelected"
    *ngFor="let topic of topics"
    (click)="onTopicSelected(topic)"
    [style.border-radius]="'0.5rem'">
    <div class="d-flex align-items-center w-100">
      <app-avatar
        [src]="topic.avatar"
        [isGroup]="topic.isGroup"
        size="50px"></app-avatar>
      <div class="can-be-collapsed d-flex flex-column ps-2 pe-3 flex-grow-1">
        <span [class.font-weight-bold]="topic.unseen">{{ topic.title | textTruncate: 25 }}</span>
        <small>
          <span class="text-secondary" [class.font-weight-bold]="topic.unseen">
            {{ topic.updatedBy.fullName + ': ' }}
            {{ topic.lastMessage || '' | textTruncate: 10 }}
          </span>
        </small>
      </div>
      <div class="can-be-collapsed d-flex flex-column align-items-end">
        <small class="text-secondary">{{ topic.updatedAt | localDatetime | agoDatetime }}</small>
        <nb-badge *ngIf="topic.unseen" class="position-relative mt-1" dotMode status="danger"></nb-badge>
      </div>
    </div>
  </nb-list-item>
</nb-list>
