@import "src/themes";

:host nb-list-item {
  border-bottom: none;
  border-top: none;
}

.color-basic-600 {
  color: nb-theme(color-basic-600);
}

@media (min-width: 768px) {
  .chat-container {
    max-width: 50%;
  }
}

.chat-container {
  .avatar-container {
    margin-top: -1.1rem;
    align-self: baseline;
    position: relative;
    margin-right: 0.3rem;

    .username {
      @extend .color-basic-600;
      position: absolute;
      top: -0.125rem;
      left: 2.5rem;
      width: max-content;
    }
  }

  .chat-basic {
    margin-bottom: .125rem;
    cursor: pointer;
    word-break: break-all;
  }

  .my-chat {
    @extend .chat-basic;
    background-color: nb-theme(color-success-400);
    color: white;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
  }

  .my-first-chat {
    @extend .my-chat;
    border-top-right-radius: 18px;
  }

  .their-chat {
    @extend .chat-basic;
    background-color: nb-theme(color-primary-200);
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
  }

  .their-last-chat {
    @extend .their-chat;
    border-bottom-left-radius: 18px;
  }
}
